@font-face {
  font-family: medieval;
  src: url("./Hangman/fonts/EnchantedLand.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: medieval;
}

body {
  background-color: #2e2e2e;
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1rem;
}
